<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Vue To Do List</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" />
  <link rel="stylesheet" href="assets/css/master.css">
</head>
<body>
  <div id="root">
    <div class="container">
      <div class="to-do-list">
        <div class="title-to-do-list">
          <h1>To Do List</h1>
        </div>
        <div class="content-to-do-list">
          <ul>
            <li v-for="(toDo) in toDosFatti ">
              <span :class="(toDo.scope == 'done') ? 'done' : '' ">{{ toDo.title }}</span>
              <span><i class="fas fa-edit"></i></span>
              <span><i class="fas fa-check" @click="fatto(toDo)" :class="(toDo.scope == 'done') ? 'done' : '' " ></i></span>
              <span><i class="fas fa-trash" @click="cancellare(toDo)" :class="(toDo.scope == 'done') ? '' : 'done' "></i></span>
            </li>
          </ul>
          <input v-model="toDoUtente" v-on:keyup.enter="insertInput" type="text" placeholder="Inserisci nuova attività">
        </div>
      </div>
    </div>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="./assets/js/main.js" charset="utf-8"></script>
</body>
</html>
