* {
padding: 0;
margin: 0;
box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-to-do-list {
  margin-top: 10px;
}

.content-to-do-list ul {
  list-style: none;
}

li {
  display: flex;
  justify-content: space-around;
  margin: 5px 0;
}

i.done {
  display: none;
}
li.done {
  text-decoration: line-through;
}

input {
  margin-top: 15px;
  padding: 5px;
}

input::placeholder {
  text-align: center;
}
